home_work_2/ClassLibrary/bin
home_work_2/ClassLibrary/obj
home_work_2/TestApplication/obj
home_work_2/TestApplication/bin
home_work_2/PlayerTests/obj
home_work_2/PlayerTests/bin
home_work_2/TestResults
home_work_3/CircularList/bin
home_work_3/CircularList/obj
home_work_3/home_work_3/obj
home_work_3/home_work_3/bin
home_work_3/CurcularListTests/obj
home_work_3/CurcularListTests/bin
home_work_3/TestResults